[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/airline-themes"]
	path = vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/vim-scripts/gundo
[submodule "vim/bundle/deus"]
	path = vim/bundle/deus
	url = https://github.com/ajmwagar/vim-deus
[submodule "vim/bundle/apprentice"]
	path = vim/bundle/apprentice
	url = https://github.com/romainl/apprentice
[submodule "vim/bundle/challenger-deep"]
	path = vim/bundle/challenger-deep
	url = https://github.com/challenger-deep-theme/vim/
[submodule "vim/bundle/lucius"]
	path = vim/bundle/lucius
	url = https://github.com/jonathanfilip/vim-lucius
[submodule "vim/bundle/wombat256"]
	path = vim/bundle/wombat256
	url = https://github.com/vim-scripts/wombat256.vim
[submodule "vim/bundle/monokai"]
	path = vim/bundle/monokai
	url = https://github.com/sickill/vim-monokai
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
